/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignosxAQZre
.hg/
/.idea/
/node_modules/
/figwheel_server.log
/district-registry.iml
/.node-xmlhttprequest-sync-*
/resources/public/css/
/resources/public/contracts/build/*.bin
/npm-debug.log
/config.edn
/dev-server/
/server/
/dev-tests/
/server-tests/
/browser-tests/
/resources/public/js/compiled