*.class
*.jar
.hg/
/.cljs_node_repl/
/.idea/
/.lein-*
/.node-xmlhttprequest-*
/.nrepl-port
/browser-tests/
/checkouts
/classes
/config.edn
/dev-server/
/dev-tests/
/district-registry.iml
/figwheel_server.log
/node_modules/
/npm-debug.log
/resources/public/js/compiled
/resources/public/css-compiled/
/server-tests/
/server/
/target
pom.xml
pom.xml.asc
.env