@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8u5kal');
  src:  url('fonts/icomoon.eot?8u5kal#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8u5kal') format('truetype'),
    url('fonts/icomoon.woff?8u5kal') format('woff'),
    url('fonts/icomoon.svg?8u5kal#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aragon:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-upload:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-discord:before {
  content: "\e90a";
}
.icon-telegram:before {
  content: "\ea95";
}
